<!DOCTYPE html>
<html  ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/userNavigation.js"></script>
    <script src="js/anotherModule.js"></script>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>

<div ng-controller="UserNavigationPanel">
    <input ng-model="query" />
    <ul class="user-panel">
        <li ng-repeat="user in users| filter:query " ng-class="{'user-panel-item-current' : user.isCurrent}"
                ng-click="setCurrent(user)" class="user-panel-item">
            {{user.name}}
        </li>
    </ul>
</div>

<div ng-controller="AnotherModule"></div>

</body>
</html>